/*元素格式化*/
*{box-sizing:border-box;margin:0;padding:0;font-family: Microsoft YaHei UI ,serif;}
h1{font-weight:500;font-size:3em}
h2{font-weight:500;font-size:2.5em;}
h3{font-weight:500;font-size:2em;}
h4{font-weight:500;font-size:1.5em;}
h5{font-weight:500;font-size:1.3em;}
h6{font-weight:500;font-size:1.1em;}
p{font-size:1em;line-height: 1.5em}
p~p{margin:32px auto}
h1,h2,h3,h4,h5,h6{margin-bottom: 16px}
body{color:#4d4d4d;background-color:#f1f1f1;overflow-x:hidden}
a{text-decoration: none;color:#5f5f5f}
a:hover{color:#39b262}
ul li{list-style-type:none}
/*************Class************/
.ad-tag{height:70px;width:80px;line-height: 70px;position: absolute;z-index: 2;right:0;
       text-align: center;overflow: hidden;transition: background-color .4s,width .4s ease-in}
.ad-tag:hover{cursor: pointer}
.ad-tag:nth-child(1){top:0px}
.ad-tag:nth-child(2){top:70px}
.ad-tag:nth-child(3){top:140px}
.ad-tag:nth-child(4){top:210px}
.ad-content{position: absolute;z-index: 0;top:0;width:100%;height:100%;padding:80px;
            overflow: hidden;border:1px solid #eeeeee;text-align: center
}
.ad-content:not(:first-child){display:none}

.bg{background-position: center;
    background-repeat: no-repeat;background-size: cover;
}
/*黑色遮罩*/
.bg-1{
    color:#eeeeee;background-color:rgba(0,0,0,0.3) }
/*渐变背景    */
.bg-2{
    background-image: -webkit-linear-gradient(top,#39b262, #f1f1f1);
    background-image: -moz-linear-gradient(top,#39b262, #f1f1f1);
    background-image: linear-gradient(to bottom,#39b262, #f1f1f1);
}
/*白色背景*/
.bg-3{background-color:white;}
/*浅灰色背景*/
.bg-4{background-color:#f1f1f1}
.bg-green{background-color:#39b262}
.green{color:#39b262}
.bigger{transition: transform .6s}
.bigger:hover{transform: scale(1.05,1.05)}
.blank{margin-top: 30px;margin-bottom: 30px}
.block-shape{height: 20px}
.block-text{height: 180px;overflow: hidden}
.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.border{position:absolute;bottom:2px;width:0;height:2px;background-color: #f1f1f1;transition: width .6s}
.border-right{border-right: 1px solid #eeeeee}
.border-bottom{border-bottom: 1px solid #eeeeee}
.button{width:150px;height:40px;text-align: center;line-height: 40px;color:white;margin:auto}
.button:hover{cursor: pointer}
.button-danger{background-color: #fd5b78}
.card{width:30%;margin:auto 1.5%;position: relative}
.card:hover{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1}
.rect-round{border-radius:10px}
.container{display:block;padding:16px;overflow: hidden}
.container-center{width:70%;margin-left:auto;margin-right: auto}
.container-full {display: block;width:100%;overflow: hidden;padding:30px 60px}
.descripe{font-size: 0.9em;color:#8f8f8f;font-size: 300}
.dot {
    width:25px;height:25px;border-radius:50%;display:inline-block;margin:10px 20px;
}
.footer{background-color:rgba(0,0,0,0.9);font-size: 0.9em;}
.footer-side{width:30%;float:left;padding:32px}
.footer-middle{width:40%;float:left;padding-top: 48px}
.footer ul{float:left;margin-left: 32px}
.footer ul li{margin-top: 16px}

.full{width:100%}
.half{width:50%;float:left}
.info-block{width:0;height:100%;overflow: hidden;position: relative;transition: width .4s ease-in}
.info-block img{max-width:200px;padding: auto;margin:auto 30px;position:absolute;top:0;bottom:0}
.info-content{transition: margin-left .4s ease-in}
img.info-icons{max-width: 32px;max-height: 32px}
div.info-icons{margin:auto 16px}
div.info-icons img{max-width: 48px;max-height: 48px}
.info-icons:hover{cursor:pointer}
.leader{width:5%;height:100%;position: absolute;z-index: 2;line-height:400px;text-align: center;color:#eeeeee;}   
.leader.last{left:0}
.leader.next{right:0}
.leader:hover{cursor:pointer;background-color:rgba(0,0,0,0.5)}
.left{float:left}
.menu {max-height: 0;overflow: hidden;position: absolute;z-index: 3;left:-60px;top:80px;transition: max-height .6s ease-out}
ul.menu li{text-align: center;width:200px;height:50px;line-height: 50px}
ul.menu li:hover{background-color:#39b262}
ul.menu li:hover a{color:#f1f1f1}
.modal{
    width:100%;height:100%;background-color: rgba(0,0,0,0.5);
    position: fixed;z-index: 5;display: none;overflow: hidden
}
.modal-close{position:absolute;right:30px;top:8px;font-size: 2em}
.modal-close:hover{cursor:pointer}
.modal-content {
    position: relative;animation:topshow .6s ease;max-height:80%;overflow: hidden;
    width:80%;margin:auto;padding:50px;margin-top: 10%
}
img.news{max-height:300px;}
.relative{position: relative}
.right{float:right}
.row:after{
    content:"";
    clear:both;
    display:block;
}
.shadow{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.small{font-size: 0.9em}
span.menu-button{text-align: center;line-height:60px;font-size: 1.8em}
span.menu-button:hover{cursor: pointer}
.subject{height:280px;overflow: hidden}
.var-0 {text-align: center;height:80px}
.var-1{position:absolute;left:0;right:0;bottom:-30px;margin:auto}
.var-1:hover{cursor: pointer}
.show-picture{
    position:absolute;width:80%;height:100%;background-size: cover;
    background-repeat: no-repeat;background-position: center;z-index:1;
}
.show-content{
    text-align: center;background-color: rgba(255,255,255,0.8);width:500px;overflow: hidden;visibility:hidden;z-index: 1;
    padding:40px 16px;position:absolute;bottom:0;left: 0;right: 0;margin:auto;font-size: 1.2em;
    transition: bottom .6s ease-in-out,visibility .3s;height:200px;
}
.show-content .button{position: absolute;bottom: 32px;left:0;right: 0}
.test{border:1px solid black}

/**********************ID***********************/
li.nav {
    display:inline-block;margin-left: 60px;color:#5f5f5f;
    position: relative
}
 #nav{background-color: white;transition: max-height .6s ease-in-out} 
a:hover~.border{background-color: #39b262;width:70px}
#showbox{overflow:hidden;position: relative;height: 500px;padding:0;transition: left .6s ease-out}
#totop {width:48px;height:48px;border-radius: 50%;background-color:rgba(0,0,0,0.3);
        position: fixed;z-index: 3;right:0;
}
#totop img{width:48px;height:48px}
#totop:hover{cursor: pointer}
     

/*动画效果*/
@keyframes fade{
    from{opacity:0.3}
    to{opacity: 1}
}
@keyframes changebig{
    0%{transform:scale(0,0)}
    30%{transform:scale(0.9,0.9)}
    60%{transform:scale(0.8,0.8)}
    100%{transform:scale(1,1)}
}
@keyframes topshow{
    from{top:150px;opacity:0}
    to{top:0;opacity:1}
}



/*响应式布局*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]{float:left;}

@media screen and (min-width: 801px) {
    .menu-container:hover .menu{max-height: 500px}
    li.nav:last-child{display:none}
    li.nav{height:80px;line-height: 80px;}
}
@media screen and (max-width: 800px) {
    .show-content{display:none}
    .half{width:100%}
    #showbox{height: 220px}
    .leader{line-height: 220px}
    .container-full{padding:0}
    #nav{max-height: 60px;overflow: hidden} 
    #nav ul li:last-child{position: absolute;right:20px;top:0}
    li.nav{display:block;height:60px;line-height: 60px} 
    .ad-tag:nth-child(1){width:25%;top:210px;left:0}
    .ad-tag:nth-child(2){width:25%;top:210px;left:25%}
    .ad-tag:nth-child(3){width:25%;top:210px;left:50%}
    .ad-tag:nth-child(4){width:25%;top:210px;left:75%}
}

@media screen and (max-width:600px){
     [class*="col-"]{width:100%}
     #showbox{height:180px}
    .leader{line-height: 180px}
     .footer-middle{display:none}
     .footer-side{width:50%}
}
